$borderLeft: 1rem;

.page {
  display: flex;
  flex-direction: column;
}

.header h3 {
  margin: $borderLeft;
}

.subTitle {
  margin-left: $borderLeft;
}

.main {
  margin-left: $borderLeft;
  margin-top: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
  width: 100%;
}
