@import "../../colors.scss";

$borderLeft: 1rem;

.page {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: $neutral_dark;
}

.header h3 {
  color: $primary_dark;
  margin: 0;
}

.title {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0 $borderLeft;
}

.subTitle {
  margin: 0 0 0.5rem 0;
  color: $neutral_light;
  font-size: small;
  letter-spacing: 0.1rem;
}

.main {
  margin-left: $borderLeft;
  margin-right: $borderLeft;
  margin-top: 1rem;
}
