@import "../../colors.scss";

.workoutTypeSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.card {
  background-color: $neutral_light;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  width: 7rem;
}
