@import "../../../fonts.scss";

.exercise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imageAndText {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.title {
  font-weight: 600;
  font-size: $font_size_medium;
}

.details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  font-size: $font_size_medium;
}
