.exercise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
}

.details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
}
