.items {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.exerciseList {
  height: 100%;
  overflow: scroll;
  margin-bottom: 7rem;
}
